.navbar{
    padding:30px
}

.container-fluid a{
    color: #000
}

.container-fluid a:hover{
    color: #555
}

.logout {
    cursor: pointer;
    padding-right: 10px;
}

.nav-item .text-success{
    margin: 0 0 0 30px;
}
